.btn-info.btn-link {
    border-color: transparent !important;
    background-color: transparent !important;
    
}

.btn-warning.btn-link {
    border-color: transparent !important;
    background-color: transparent !important;
}
.btn-danger.btn-link {
    border-color: transparent !important;
    background-color: transparent !important;
}
.pagination {
    display: inline-block;
  }
  .pagination a {
    color: black;
    
    padding: 8px 16px; 
    text-decoration: none;
  }
  
  .pagination a.active {
    background-color: #23CCEF;
    color: white;
    border-radius: 50%;
  }
  
  .pagination a:hover:not(.active) {
    background-color: #ddd;
    border-radius: 5px;
  }
  ::placeholder {
    color:black;
    opacity: 0.1; /* Firefox */
  }
  .rose{
      background-color: white !important;
      transition-duration: 0.4s;
  }
  .rose:hover{
      background-color: #888888 !important;
      color:white !important;
  }


  .modal {
    font-size: 12px;
  }
  .modal > .header {
    width: 100%;
    border-bottom: 1px solid gray;
    font-size: 18px;
    text-align: center;
    padding: 5px;
  }
  .modal > .content {
    width: 100%;
    padding: 10px 5px;
  }
  .modal > .actions {
    width: 100%;
    padding: 10px 5px;
    margin: auto;
    text-align: center;
  }
  .modal > .close {
    cursor: pointer;
    position: absolute;
    display: block;
    padding: 2px 5px;
    line-height: 20px;
    right: -10px;
    top: -10px;
    font-size: 24px;
    background: #ffffff;
    border-radius: 18px;
    border: 1px solid #cfcece;
  }
  .swal-title {
    font-size: 40px !important;
  }
  .swal-footer {
    text-align: center !important;
  }
  .swal-button--cancel{
    color:white !important;
    background-color:#7cd1f9 !important;
  }

  .swal-button--danger {
    color:white !important;
    background-color:  #e64942!important;
}

select:required:invalid {
  color:#dcdcdc;
}
option[value=""][disabled] {
  display: none;
}
option {
  color: black;
}

select {
 
  border-radius: 4px;
}

